@model ParkManagment.DTOs.DriverRequestModel
<div>
    <form asp-action="Login">
      <div style="color: dodgerblue; font-weight: bolder;">
          <label style="text-align: center">@ViewBag.LoginError</label>
      </div>
        <label >First name:</label><br>
        <input type="text" name="FirstName" placeholder="FirstName" required><br>
        <label >Password:</label><br>
        <input type="password" name="Password" placeholder="password" required/>
        <br>
        <div>
            <input type="submit" value="Login" class="btn btn-primary" required/>
        </div>
    </form>
</div>
<br>
<div>
    <a asp-controller="Driver" asp-action="Create" class="btn btn-dark" >Create Account</a>
</div>