@model ParkManagment.DTOs.MotorDto

<div>
    <form asp-action="Create">
         <div style="color: red; font-weight: bolder;">
            <label style="text-align: center">@ViewBag.CarCreated</label>
         </div>
        <div>
            <label>Name</label>
            <input type="text" name="Name" required/>
        </div>
        <div>
            <label>NumberOfSits</label>
            <input type="text" name="NumberOfSit" required/>
        </div>
        <div>
            <label> Parks</label>
            <select asp-for="ParkId" asp-items="ViewBag.Parks"></select>
        </div>
        <br>
        <div>
            <input type="submit" value="Create" class="btn btn-dark" required/>
        </div>
        <br>
        <form>
            <input type="button" value="Go back" onclick="history.back()">
        </form>
    </form>
</div>