@model ParkManagment.Entities.Admin
<div>
    <form asp-action="Create">
        <div>
            <label>Email</label>
            <input type="email" name="Email" required/>
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="Password" required/>
        </div>
        <div>
            <input type="submit" value="Create" class="btn btn-dark" required/>
        </div>
    
    </form>
</div>