@model ParkManagment.DTOs.Staff.StaffRequestModel

<div>
    <form asp-action="Login">
        <label >First name:</label><br>
        <input type="text" name="FirstName" required><br>
        <label >Password:</label><br>
        <input type="password" name="Password" required/>
        <div>
            <input type="submit" value="Login" class="btn btn-primary" required/>
        </div>
    </form>
</div>
