@model ParkManagment.DTOs.Payment.PaymentRequesModel

<div>
    <form asp-action="Create">
        <div style="color: red; font-weight: bolder;">
            <label style="text-align: center">@ViewBag.Messagess</label>
        </div>
        <div>
            <label>NumberOfDaysOfPayment</label>
            <input type="number" name="NumberOfDays" required/>
        </div>
        <div>
            <input type="submit" value="Create" class="btn btn-dark" required/>
        </div>
    </form>
    <br/>
    <form>
     <input type="button" value="Go back!" onclick="history.back()">
    </form>
</div>

